@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

Ostatnia wielokrotność trójki to: @LastMultimpleOfThree;

<Counter OnMultipleOfThree="@UpdateLastOfMultipleOfThree" />

<br />
<br />

@* kaskada *@

<input @bind-value=firstOptionValue type="checkbox" /> First option
<br />
<input @bind-value=secondOptionValue type="checkbox" /> Second option
<br />

<CascadingValue Name="FirstOption" Value="@firstOptionValue">
    <CascadingValue Name="SecondOption" Value="@secondOptionValue">
        <FirstLevelComponent />
    </CascadingValue>
</CascadingValue>

<input type="text" @bind-value="ImgSrc" />

<MyImageComponent src="@ImgSrc" alt="A photo of Lego" width=64 height=64 />

<br />

<h2>@Param1</h2>
<h2>@Param2</h2>