@page "/"
@inject IVersionProvider VersionProvider
<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Bibliotekarz</Heading>

<AuthorizeView>
    <Authorized>

        <Row>
            <Table Striped>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Autor</TableHeaderCell>
                        <TableHeaderCell>Tytuł</TableHeaderCell>
                        <TableHeaderCell>Liczba stron</TableHeaderCell>
                        <TableHeaderCell>Czy Wypożyczony</TableHeaderCell>
                        <TableHeaderCell>Imię wyp.</TableHeaderCell>
                        <TableHeaderCell>Nazwisko wypożyczającego</TableHeaderCell>
                    </TableRow>
                </TableHeader>

                <TableBody>
                    <Repeater Context="item" Items="books">
                        <TableRow>
                            <TableRowCell>@item.Author</TableRowCell>
                            <TableRowCell>@item.Title</TableRowCell>
                            <TableRowCell>@item.PageCount</TableRowCell>
                            <TableRowCell>@(item.IsBorrowed ? "Tak" : "Nie")</TableRowCell>
                                <TableRowCell>@item.Borrower?.FirstName</TableRowCell>
                                <TableRowCell>@item.Borrower?.LastName</TableRowCell>
                            </TableRow>
                        </Repeater>
                    </TableBody>
                </Table>
            </Row>

        </Authorized>

        <NotAuthorized>
            <Alert Color="Color.Danger" Visible>
            <AlertMessage>Błąd autoryzacji!</AlertMessage>
            <AlertDescription>
                Zaloguj się zanim użyjesz funkcjonalności.
            </AlertDescription>
        </Alert>
    </NotAuthorized>
</AuthorizeView>